env/
hackaton/__pycache__/
actividad/__pycache__/
actividad/migrations/__pycache__/
admins/__pycache__/
admins/migrations/__pycache__/
marchine_learning/__pycache__/
marchine_learning/migrations/__pycache__/
usuario/__pycache__/
usuario/migrations/__pycache__/
