
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/hackaton/static/css/from_registro_activity.css">
  <title>Formulario registro de actividades</title>
</head>
<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HACKATON</div>
    </div>

  <section class="form-register">
    <h4>Formulario Registro De Actividades </h4>
    <input class="controls" type="text" name="actividad" id="actividad" placeholder="Ingrese la actividad">
    <textarea class="controls" type="text" name="descripcion" id="descripcion" placeholder="Ingrese la descripcion">

    <input class="botons" type="submit" value="Registrar">
  </section>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/hackaton/static/js/loader.js"></script>
</body>
</html>
