{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Hackaton</title>
</head>
<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HACKATON</div>
    </div>

    <header>
        <div class="interior">
          <a href="#" class="logo" target="blank">HACKATON</a>
          <nav class="navegacion">
            <ul>
              {% if request.user.id != None %}
              <li><a href="" target="blank">Analisis</a></li>
              <li class="submenu">
                <a href="#" target="blank">Actividades</a>
                <ul class="hijos">
                  <li><a href="{% url 'registro_actividad' %}">Registro de actividades</a></li>
                  <li><a href="">subir actividades</a></li>
                </ul>
              </li>
              <li><a href="{% url 'logout' %}" target="blank">Cerrra sesión</a></li>
              {% else %}
              <li><a href="{% url 'registro' %}" target="blank">Registro</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </header>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/static/js/loader.js"></script>
</body>
</html>
