{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Hackaton</title>
</head>
<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HACKATON</div>
    </div>

    <header>
        <div class="interior">
          <a href="{% url 'index' %}" class="logo" target="blank">HACKATON</a>
          <nav class="navegacion">
            <ul>
              {% if request.user.id != None %}
              {% if request.user.type_user !=  'User' %}
              <li><a href="">Analisis</a></li>
              {% endif %}
              {% if request.user.type_user == 'Superuser' %}
              <li><a href="{% url 'admin_link' %}">Administrador</a></li>
              {% endif %}
              <li><a href="{% url 'perfil_user' %}">Perfil</a></li>
              <li class="submenu">
                <a href="{% url 'visualizar_actividad' %}" >Actividades</a>
                <ul class="hijos">
                  <li><a href="{% url 'registro_actividad' %}">Registro de actividades</a></li>
                  <li><a href="{% url 'archivo' %}">subir actividades</a></li>
                </ul>
              </li>
              <li><a href="{% url 'logout' %}">Cerrra sesión</a></li>
              {% else %}
              <li><a href="{% url 'registro' %}">Registro</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </header>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/static/js/loader.js"></script>
</body>
</html>
