<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/hackaton/static/css/index.css">
  <title>Formulario Registro</title>
</head>
<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HACKATON</div>
    </div>

    <header>
        <div class="interior">
          <a href="#" class="logo" target="blank">HACKATON</a>
          <nav class="navegacion">
            <ul>
              <li><a href="https://cristianvasquez13.github.io/links/" target="blank">Analisis</a></li>
              <li class="submenu">
                <a href="#" target="blank">Actividades</a>
                <ul class="hijos">
                  <li><a href="/templates/from_registro_activity.html">Registro de actividades</a></li>
                  <li><a href="">subir actividades</a></li>
                </ul>
              </li>
              <li><a href="#" target="blank">Registro</a></li>
              <li><a href="#" target="blank">Login</a></li>
            </ul>
          </nav>
        </div>
      </header>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/hackaton/static/js/loader.js"></script>
</body>
</html>
