<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/hackaton/static/css/login_us.css">
  <title>Formulario Registro</title>
</head>
<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HACKATON</div>
    </div>

  <section class="form-register">
    <h4>Formulario Login</h4>

    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <span class="Eye">
        <i class="bx bx-hide"></i>
    </span>
    <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
    <input class="botons" type="submit" value="Iniciar ">
    <p><a href="/templates/registro_us.html">¿No tines cuenta?</a></p>
  </section>

  <script src="/hackaton/static/js/vista_password.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/hackaton/static/js/loader.js"></script>
</body>
</html>
