{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/1353faa81f.js" crossorigin="anonymous"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
  <title>Perfil</title>

</head>
<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HACKATON</div>
    </div>
    <header>
        <div class="interior">
          <a href="{% url 'index' %}" class="logo" target="blank">HACKATON</a>
          <nav class="navegacion">
            <ul>
              {% if request.user.id != None %}
              {% if request.user.type_user !=  'User' %}
              <li><a href="{% url 'analisis_power' %}">Analisis</a></li>
              {% endif %}
              {% if request.user.type_user == 'Superuser' %}
              <li><a href="{% url 'admin_link' %}">Administrador</a></li>
              {% endif %}
              <li><a href="{% url 'index' %}">Inicio</a></li>
              {% if request.user.type_user ==  'User' %}
              <li><a href="{% url 'perfil_user' %}">Perfil</a></li>
              {% endif %}
              <li class="submenu">
                <a href="{% url 'visualizar_actividad' %}" >Actividades</a>
                <ul class="hijos">
                  <li><a href="{% url 'registro_actividad' %}">Registro de actividades</a></li>
                  <li><a href="{% url 'archivo' %}">subir actividades</a></li>
                </ul>
              </li>
              <li>
                <div>
                    <form method = "post">
                    {% csrf_token %}
                      <input type="hidden" name="_method" value="CUENTA">
                      <input class = 'button1' type='submit' value='ELIMINAR CUENTA'>
                    </form>
                  </div>
              </li>

              {% else %}
              <li><a href="{% url 'registro' %}">Registro</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </header>

  <form method = "post">
  {% csrf_token %}
  {% if form_perfil.instance.id != None %}
    <input type="hidden" name="_method" value="PUT">
  {% endif %}
  <section class="form-register">
    <h4>Formulario perfil</h4>
    <div class="tooltip">
        <span class="tooltiptext">Por favor, elige el núcleo familiar al que perteneces de la lista desplegable.</span>
        <i class="fas fa-question-circle"style="color:#84649c ;"></i>
    </div>
    {{form_perfil.nucleo_familiar}}
    <div class="tooltip">
        <span class="tooltiptext">Por favor, selecciona la opción que mejor refleje tu postura sobre fomentar cambios en el trabajo remoto.</span>
        <i class="fas fa-question-circle"style="color:#84649c ;"></i>
    </div>
    {{form_perfil.cambios_trabajo}}
    <div class="tooltip">
        <span class="tooltiptext">Indique el tiempo promedio en horas que toma desplazarse al lugar de trabajo y regresar a casa en un día.</span>
        <i class="fas fa-question-circle"style="color:#84649c ;"></i>
    </div>
    {{form_perfil.tiempoDesplazamiento}}
    <div class="tooltip">
        <span class="tooltiptext">Indique cuántas horas, en promedio, dedica diariamente a las labores del hogar.</span>
        <i class="fas fa-question-circle"style="color:#84649c ;"></i>
    </div>
    {{form_perfil.horasDomestica}}
    <div class="tooltip">
        <span class="tooltiptext">Indique cuántas horas, en promedio, dedica diariamente a la familia y a actividades personales.</span>
        <i class="fas fa-question-circle"style="color:#84649c ;"></i>
    </div>
    {{form_perfil.horasPersonal}}
    <div class="tooltip">
        <span class="tooltiptext">Indique el promedio total de horas trabajadas durante los últimos tres meses.</span>
        <i class="fas fa-question-circle"style="color:#84649c ;"></i>
    </div>
    {{form_trabajo.tiempoDedicado}}
    <div class="tooltip">
        <span class="tooltiptext">Seleccione el sector correspondiente de la lista desplegable. Asegúrese de elegir el sector que mejor representa la industria o área en la que trabaja.</span>
        <i class="fas fa-question-circle"style="color:#84649c ;"></i>
    </div>
    {{form_trabajo.sector}}
    <div class="tooltip">
        <span class="tooltiptext">Seleccione su cargo actual de la lista desplegable. Elija el título o puesto que mejor describe su rol y responsabilidades en la empresa.</span>
        <i class="fas fa-question-circle " style="color:#84649c;"></i>
    </div>
    {{form_trabajo.position}}
    <input class="botons" type="submit" value="Enviar">
    {% if form_trabajo.instance.id %}
    <input class="botons" type="submit" name='_method' value="Eliminar">
    {% endif %}
  </section>
  </form>

  <script src="/static/js/vista_password.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/static/js/loader.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% sweetify %}
</body>
</html>
