{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/registro_us.css' %}">
  <title>Formulario Registro</title>
</head>
<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HACKATON</div>
    </div>

    <form method = "post">   
    {% csrf_token %}
    <section class="form-register">
    <h4>Formulario Registro</h4>
    {{form_register.name}}
    {{form_register.last_name}}
    {{form_register.gender}}
    {{form_register.birthdate}}
    {{form_register.email}}
    <span class="Eye2">
        <i class="bx bx-hide"></i>
    </span>
    {{form_register.password1}}
    <span class="Eye3">
        <i class="bx bx-hide"></i>
        </span>
    {{form_register.password2}}
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    {{form_register.check}} <input class="botons" type="submit" value="Registrar">
    <p><a href="{% url 'login' %}">¿Ya tengo Cuenta?</a></p>
    </section>
    </form>

  <script src="/static/js/vista_password_1.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/static/js/loader.js"></script>
  {% sweetify %}
</body>
</html>
