
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/hackaton/static/css/registro_us.css">
  <title>Formulario Registro</title>
</head>
<body class="hidden">
    <div class="centrado" id="onload">
        <div class="cssload-loader">HACKATON</div>
    </div>

  <section class="form-register">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
    <select class="controls" name="cargo">
        <option >Selecciona su cargo </option>
    </select>
    <select class="controls" name="genero">
        <option >Selecciona su genero </option>
    </select>
    <select class="controls" name="sector">
        <option >Selecciona su sector </option>
    </select>
    <input class="controls" type="date" name="fecha" id="fecha" >
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <span class="Eye2">
        <i class="bx bx-hide"></i>
    </span>
    <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
    <span class="Eye3">
        <i class="bx bx-hide"></i>
        </span>
    <input class="controls" type="password" name="password1" id="password1" placeholder="confirme su Contraseña">
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <input type="checkbox" name="mi_checkbox" id="mi_checkbox" class="checkbox">
    <input class="botons" type="submit" value="Registrar">
    <p><a href="/templates/login_us.html">¿Ya tengo Cuenta?</a></p>
  </section>

  <script src="/hackaton/static/js/vista_password_1.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/hackaton/static/js/loader.js"></script>
</body>
</html>
