{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/from_registro_activity.css' %}">
  <title>Subida archivo</title>
</head>
<body class="hidden">
  <div class="centrado" id="onload">
        <div class="cssload-loader">HACKATON</div>
  </div>

  <header>
    <div class="interior">
      <a href="{% url 'index' %}" class="logo" target="blank">HACKATON</a>
      <nav class="navegacion">
        <ul>
          {% if request.user.id != None %}
          {% if request.user.type_user !=  'User' %}
          <li><a href="">Analisis</a></li>
          {% endif %}
          {% if request.user.type_user == 'Superuser' %}
          <li><a href="{% url 'admin_link' %}">Administrador</a></li>
          {% endif %}
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'perfil_user' %}">Perfil</a></li>
          <li class="submenu">
            <a href="{% url 'visualizar_actividad' %}" >Actividades</a>
            <ul class="hijos">
              <li><a href="{% url 'registro_actividad' %}">Registro de actividades</a></li>
              <li><a href="{% url 'archivo' %}">subir actividades</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="{% url 'registro' %}">Registro</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>


  <form method = 'post' enctype="multipart/form-data">
  {% csrf_token %}
  <section class="form-register">
    {{form.as_p}}
    <br>
    <br>
    <br>
    <input class="botons" type="submit" value="Subir">
  </section>
  </form>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/static/js/loader.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% sweetify %}
</body>
</html>
