@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=DM+Serif+Text:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }

  body {
    background: #24303c;
  }

  .hidden{
    overflow: hidden;
  }
  .centrado{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .cssload-loader {
	width: 500px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:36px;
	color: #469ADB;
	letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	background: #1D405C;
	position: absolute;
	animation: cssload-load 0.81s infinite alternate ease-in-out;
		-o-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}



@keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 60px;
		width: 30px;
	}
	50% {
		height: 16px;
		width: 80px;
	}
	100% {
		left: 470px;
		height: 60px;
		width: 30px;
	}
}

header{
	width: 100%;
	height: 90px;
	background-color: #1D405C;
}
.interior{
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
}
.logo{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
	float: left;
	padding: 20px 20px 0 ;
    text-decoration: none;
    color: #84649c;
}

.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
    text-decoration: none;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 25px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #84649c;
	transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
	display: block;
}
.navegacion .submenu .hijos{
	display: none;
	background: #1D405C;
	position: absolute;
	width: 100%;
    border-radius: 20px;
    margin-top: 11px;
}
.navegacion .submenu .hijos li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijos li a{
	display: block;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .grid-item {
    width: 50px ;
    background-color: #84649c;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    width: calc(33% - 10px);
    text-align: center;
  }
  .boton_in {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .boton_tr {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .pagination {
    text-align: center;
  }

  .step-links a, .step-links span {
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #84649c;
    border-radius: 3px;
  }

  .step-links a:hover, .step-links span.current {
    background-color: #1D405C;
  }
